.table-bar{
    display: flex;
    flex-direction: column;
    padding: 0 15px 20px 15px;
    border: 2px solid #000;
    margin-top: 10px;
}
.table{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.table-bar div{
margin-top: 10px;
}


.title{
    font-weight: 800;
    text-align: center;
    margin-top: 0;
}

.counter{
    text-align: center;
}

.error{
    color: rgb(228, 77, 77);
}